<div class="panel panel-default">
    <div class="panel-heading">
        听写内容
    </div>
    <div class="panel-body monospaced">
        <div ng-repeat="item in vm.items track by $index" style="display: inline-block" enter-as-tab data-type="{{item.type}}">
            <!--<div class="label label-default" ng-class="{'label-info': item.type == 'word'}">{{item.val}}</div>-->
            <input class="input-word" type="{{item.type == 'word' ? 'text' : 'hidden'}}" size="{{item.val.length}}"
                   ng-model="item.input" ng-class="{'input-ok': item.input == item.val}">
            <span ng-show="item.type == 'punctuation'">{{item.val}}</span>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        设置要听写的内容
    </div>
    <div class="panel-body">
        <p ng-show="vm.isShowContent">
            <textarea class="form-control" cols="30" rows="10"
                      placeholder="听写内容" ng-model="vm.content"></textarea>
        </p>
        <p>
            <button class="btn btn-success btn-block" ng-click="vm.convert(vm.content)">转换</button>
        </p>
        <p>
            <button class="btn btn-block btn-default" ng-click="vm.isShowContent = !vm.isShowContent">显示隐藏文本</button>
        </p>
    </div>
</div>