<!doctype html>
<html lang="en" ng-app="app" ng-controller="appCtrl as app">
<head>
    <meta charset="UTF-8">
    <title ng-bind="app.info.title">雅思分数计算器 - IELTS Band Score Calculator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
</head>
<body>

<div class="container">
    <div class="header clearfix">
        <!--<nav class="hidden-xs">-->
        <!--<ul class="nav nav-pills pull-right">-->
        <!--&lt;!&ndash;<li role="presentation" class="active"><a href="#">Home</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li role="presentation"><a href="#">About</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li role="presentation"><a href="#">Contact</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href=""></a></li>&ndash;&gt;-->
        <!--</ul>-->
        <!--</nav>-->
        <h3 class="text-muted">雅思分数计算器
            <small>{{::app.info.domain}}</small>
        </h3>
    </div>

    <div class="jumbotron">
        <h1>
            <div ng-show="app.resultScore">
                <div>{{app.resultScore | score}}</div>
                <p class="lead">实际分数: <strong>{{app.resultScore}}</strong></p>
            </div>
            <div ng-hide="app.resultScore">总成绩</div>
        </h1>
        <!--<p class="lead">通过填写听/说/读/写成绩,实时计算出总分</p>-->
        <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>-->

        <div class="row marketing">
            <div class="col-lg-12">
                <div ng-repeat="item in app.items.arr">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">{{::item.name}}</span>
                        <input type="number" min="0" max="9.0" step="0.5" class="form-control"
                               placeholder="{{::item.placeholder}}" ng-model="item.score">
                    </div>
                    <br>
                </div>
            </div>
            <div class="col-lg-12">
                <button class="btn btn-lg btn-block btn-success" ng-disabled="!app.isFullFilled"
                        ng-click="app.calculate()">计算
                </button>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="pull-left">
            &copy; 2016 {{::app.info.creator.name}}
        </div>

        <div class="pull-right hidden-xs">
            作者: <a href="http://weibo.com/guoyishi" target="_blank" class="ng-binding">@郭一实</a>
            |
            <a href="{{app.info.creator.link}}" title="{{app.info.creator.name}}" tooltip
               ng-bind="app.info.creator.name"></a>
        </div>
    </footer>

</div> <!-- /container -->

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/ngstorage/ngStorage.min.js"></script>

<script src="/js/all.min.js"></script>
</body>
</html>